
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAll.cshtml";
}

<main class="m-0 p-0">
    <section class="p-0 m-0 relative h-[350px] lg:h-[450px] header-ttdm flex items-end">
        <div class="container max-w-[1320px] mx-auto pb-12 px-6 lg:px-0">
            <div class="py-2 text-white text-[11px] flex line-clamp-1 space-x-0 lg:space-x-3 items-center lg:mb-2">
                <a class="whitespace-nowrap" href="/">Home</a>
                <img src="/Assets/Image/angle-right.png" alt="Angle right" class="w-4 h-4" />
                <span class="whitespace-nowrap line-clamp-1">news</span>
            </div>
            <h1 class="text-black text-2xl xl:text-5xl font-bold">READING NEWS</h1>
        </div>
    </section>
    <section class="m-0 py-[60px] relative">
        <div class="container max-w-[1320px] mx-auto px-4">
            <div class="main-content">
                <div class="grid grid-flows-row grid-cols-1 lg:grid-cols-3 gap-10">
                    <div class="col-span-2">
                        <div class="block_title flex justify-between items-center mb-10">
                            <h2 class="text-2xl lg:text-[50px] leading-8 lg:leading-[50px] text-[#242424] font-semibold">English News</h2>
                        </div>
                        <div class="grid grid-flow-row grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
                            <div class="item">
                                <img src="~/Assets/Image/tintuc1.jpg" alt="SPDV1" class="w-full h-[200px] object-cover" />
                                <div class="pt-5 pb-[30px]">
                                    <div class="mb-3">
                                        <a href="/tin_tuc/Tin_tuc1" class="uppercase text-[#1684E9] text-[13px] tracking-widest">Google Adds New AI Tools to Its Maps Service</a>
                                    </div>
                                    <h3 class="text-[#161c2D] line-clamp-1 text-lg lg:text-2xl font-semibold mb-3">
                                        Advanced
                                    </h3>
                                    <p class="text-[13px] mb-3 text-[#919296]">11:50 03/10/2024</p>
                                    <p class="text-base text-secondary line-clamp-2 leading-7">
                                        Google Maps is heading down a new road — steered by artificial intelligence (AI).

                                        The company announced at the end of October that it will be bringing more of its AI technology to its digital maps service.
                                    </p>
                                </div>
                            </div>
                            <div class="item">
                                <img src="~/Assets/Image/read1.jpg" alt="SPDV1" class="w-full h-[200px] object-cover" />
                                <div class="pt-5 pb-[30px]">
                                    <div class="mb-3">
                                        <a href="/tin_tuc/Tin_tuc01" class="uppercase text-[#1684E9] text-[13px] tracking-widest">Productivity Hacks: How to Get More Done</a>
                                    </div>
                                    <h3 class="text-[#161c2D] line-clamp-1 text-lg lg:text-2xl font-semibold mb-3">Intermidiate</h3>
                                    <p class="text-[13px] mb-3 text-[#919296]">11:50 03/10/2024</p>
                                    <p class="text-base text-secondary line-clamp-2 leading-7">Have you ever heard the phrase, "There aren't enough hours in the day"? It means you don't have enough time to do everything that needs to be done!</p>
                                </div>
                            </div>
                            <div class="item">
                                <img src="~/Assets/Image/tintuc1.jpg" alt="SPDV1" class="w-full h-[200px] object-cover" />
                                <div class="pt-5 pb-[30px]">
                                    <div class="mb-3">
                                        <a href="/tin_tuc/Tin_tuc1" class="uppercase text-[#1684E9] text-[13px] tracking-widest">Some AirPods Can Now Be Used as Hearing Aids</a>
                                    </div>
                                    <h3 class="text-[#161c2D] line-clamp-1 text-lg lg:text-2xl font-semibold mb-3">Beginer</h3>
                                    <p class="text-[13px] mb-3 text-[#919296]">11:50 03/10/2024</p>
                                    <p class="text-base text-secondary line-clamp-2 leading-7">That's after Apple released a new software update at the end of October. It's a move that experts have welcomed.</p>
                                </div>
                            </div>
                            <div class="item">
                                <img src="~/Assets/Image/tintuc1.jpg" alt="SPDV1" class="w-full h-[200px] object-cover" />
                                <div class="pt-5 pb-[30px]">
                                    <div class="mb-3">
                                        <a href="/tin_tuc/Tin_tuc1" class="uppercase text-[#1684E9] text-[13px] tracking-widest">Google Adds New AI Tools to Its Maps Service</a>
                                    </div>
                                    <h3 class="text-[#161c2D] line-clamp-1 text-lg lg:text-2xl font-semibold mb-3">
                                        Advanced
                                    </h3>
                                    <p class="text-[13px] mb-3 text-[#919296]">11:50 03/10/2024</p>
                                    <p class="text-base text-secondary line-clamp-2 leading-7">
                                        Google Maps is heading down a new road — steered by artificial intelligence (AI).

                                        The company announced at the end of October that it will be bringing more of its AI technology to its digital maps service.
                                    </p>
                                </div>
                            </div>
                            <div class="item">
                                <img src="~/Assets/Image/tintuc1.jpg" alt="SPDV1" class="w-full h-[200px] object-cover" />
                                <div class="pt-5 pb-[30px]">
                                    <div class="mb-3">
                                        <a href="/tin_tuc/Tin_tuc1" class="uppercase text-[#1684E9] text-[13px] tracking-widest">Google Adds New AI Tools to Its Maps Service</a>
                                    </div>
                                    <h3 class="text-[#161c2D] line-clamp-1 text-lg lg:text-2xl font-semibold mb-3">
                                        Advanced
                                    </h3>
                                    <p class="text-[13px] mb-3 text-[#919296]">11:50 03/10/2024</p>
                                    <p class="text-base text-secondary line-clamp-2 leading-7">
                                        Google Maps is heading down a new road — steered by artificial intelligence (AI).

                                        The company announced at the end of October that it will be bringing more of its AI technology to its digital maps service.
                                    </p>
                                </div>
                            </div>
                            <div class="item">
                                <img src="~/Assets/Image/tintuc1.jpg" alt="SPDV1" class="w-full h-[200px] object-cover" />
                                <div class="pt-5 pb-[30px]">
                                    <div class="mb-3">
                                        <a href="/tin_tuc/Tin_tuc1" class="uppercase text-[#1684E9] text-[13px] tracking-widest">Some AirPods Can Now Be Used as Hearing Aids</a>
                                    </div>
                                    <h3 class="text-[#161c2D] line-clamp-1 text-lg lg:text-2xl font-semibold mb-3">Beginer</h3>
                                    <p class="text-[13px] mb-3 text-[#919296]">11:50 03/10/2024</p>
                                    <p class="text-base text-secondary line-clamp-2 leading-7">That's after Apple released a new software update at the end of October. It's a move that experts have welcomed.</p>
                                </div>
                            </div>

                        </div>
                        <div class="pagination text-center mt-6">
                            <ul class="">
                                <li><a class="page active" href="#">1</a></li>
                                <li><a class="page" href="#">2</a></li>
                                <li><a class="page" href="#">3</a></li>
                                <li><a class="page" href="#">4</a></li>
                                <li><a class="page" href="#">...</a></li>
                                <li><a href="#">Trang kế tiếp</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="sidebar">
                        <div class="search relative">
                            <input type="text" placeholder="Tìm kiếm..." class="h-12 w-full border-b border-gray-300 px-4" />
                            <a href="#" class="absolute top-1/2 right-3 -translate-y-1/2">
                                <img src="/Assets/Image/search-dark.png" alt="Search" class="w-6 h-6" />
                            </a>
                        </div>
                        <nav class="mt-6">
                            <ul class="primary-menu text-sm text-[rgba(36,36,36,1)] font-normal">
                                <li>
                                    <a href="#" class="text-[rgba(36,36,36,1)] flex justify-between items-center">
                                        <span>Introduction</span>
                                        <i class="fa fa-angle-down"></i>
                                    </a>
                                    <ul class="sub-menu text-sm text-[rgba(36,36,36,1)] font-normal">
                                        <li><a href="#" class="text-[rgba(36,36,36,1)]">About us</a></li>
                                        <li><a href="#" class="text-[rgba(36,36,36,1)]">Flash</a></li>
                                        <li><a href="#" class="text-[rgba(36,36,36,1)]">service</a></li>

                                    </ul>
                                </li>
                                <li>
                                    <a href="#" class="text-[rgba(36,36,36,1)]">
                                        <span>Skills</span>
                                        <i class="fa fa-angle-down"></i>
                                    </a>
                                    <ul class="sub-menu text-sm text-[rgba(36,36,36,1)] font-normal">
                                        <li><a href="#" class="text-[rgba(36,36,36,1)]">Speaking</a></li>
                                        <li><a href="#" class="text-[rgba(36,36,36,1)]">Reading</a></li>
                                        <li><a href="#" class="text-[rgba(36,36,36,1)]">Writing</a></li>
                                        <li><a href="#" class="text-[rgba(36,36,36,1)]">Listening</a></li>
                                        <li><a href="#" class="text-[rgba(36,36,36,1)]">Grammar</a></li>
                                        <li><a href="#" class="text-[rgba(36,36,36,1)]">Vocabulary</a></li>

                                    </ul>
                                </li>
                                <li><a href="#" class="text-[rgba(36,36,36,1)]">bla</a></li>
                                <li><a href="#" class="text-[rgba(36,36,36,1)]"></a></li>
                                <li><a href="#" class="text-[rgba(36,36,36,1)]"></a></li>
                                <li><a href="#" class="text-[rgba(36,36,36,1)]"></a></li>
                                <li><a href="#" class="text-[rgba(36,36,36,1)]"></a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
