@{
    ViewBag.Title = "Thêm mới phân mục";
    
}
<div class="modal-header">
    <h5 class="modal-title" id="modalTitle">@ViewBag.Title</h5>
    <button type="button" class="close" data-dismiss="modal">
        <span>&times;</span>
    </button>
</div>

<form id="formThemMoi" method="post" action="@Url.Action("xl_them_moi","He_thong_phan_muc")" enctype="multipart/form-data">
    <div class="modal-body" id="modalBody">
        <div class="form-validation">
            <div class="row">
                <div class="col-xl-6">
                    <div class="form-group row">
                        <label class="col-lg-12 col-form-label">
                            Tên phân mục (<span class="tx-danger">*</span>):
                        </label>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-12">
                            <input class="form-control" id="val_He_thong_phan_muc" name="val_He_thong_phan_muc" placeholder="Tên phân mục...">
                        </div>
                        <div id="messageContainer"></div>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="form-group row">
                        <label class="col-lg-12 col-form-label">
                            Loại phân mục (<span class="tx-danger">*</span>):
                        </label>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-12">
                            <select class="form-control" id="val_PhanLoai" name="val_PhanLoai">
                                <option value="">--Chọn loại phân mục--</option>
                                <option value="1">Khóa học</option>
                                <option value="2">Bài học</option>
                                <option value="3">Bài tập</option>
                            </select>
                        </div>
                        <div id="messageContainerLoaiKhoaHoc"></div>
                    </div>
                </div>
                <div class="col-xl-12">
                    <div class="form-group row">
                        <label class="col-lg-12 col-form-label">
                            Mô tả phân mục:
                        </label>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-12">
                            <textarea rows="1" class="form-control" id="val_mo_ta_He_thong_phan_muc" name="val_mo_ta" placeholder="Mô tả phân mục..."></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
        <button type="submit" class="btn btn-primary">Lưu thay đổi</button>
    </div>
</form>

<script>
    $(document).ready(function () {
        $("#formThemMoi").on("submit", function (event) {
            event.preventDefault(); 
            var loaiKhoaHoc = $("#val_He_thong_phan_muc").val();
            var loaiPhanLoai = $("#val_PhanLoai").val();
            var isValid = true; 
            if (!loaiKhoaHoc) {
                $("#messageContainer").html("<div class='tx-danger p-15'>Tên loại khóa học không được để trống.</div>");
                isValid = false;
            } else {
                $("#messageContainer").html("");
            }
            if (!loaiPhanLoai) {
                $("#messageContainerLoaiKhoaHoc").html("<div class='tx-danger p-15'>Bạn phải chọn loại phân mục.</div>");
                isValid = false;
            } else {
                $("#messageContainerLoaiKhoaHoc").html("");
            }
            if (isValid) {
                this.submit();
            }
        });
    });
    
</script>
