
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAll.cshtml";
}

<main class="m-0 p-0">
    <section class="p-0 m-0 relative h-[360px] lg:h-[650px] header-page flex items-end">
        <video controls autoplay loop muted >
            <source src="~/Assets/Image/video/videogt.mp4" type="video/mp4">
        </video>
        <div class="container max-w-[1320px] mx-auto pb-12 px-6 lg:px-0">
            <div class="py-2 text-white text-xs flex space-x-3 items-center mb-2">
                <a href="/">Home</a>
                <img src="/Assets/Image//angle-right.png" alt="Angle right" class="w-4 h-4" />
                <a href="#">Introduction</a>
                <img src="/Assets/Image//angle-right.png" alt="Angle right" class="w-4 h-4" />
                <span>About us</span>
            </div>
            <h1 class="text-white text-xl xl:text-5xl font-bold">About us</h1>
        </div>
    </section>
    <section id="about-us" class="pt-12 pb-6 lg:py-[60px] bg-[#F4F7FA]">
        <div class="container max-w-[1320px] mx-auto px-4">
            <div class="block_title flex justify-between items-center mb-10">
                <h2 class="text-3xl lg:text-[50px] leading-8 lg:leading-[50px] text-black font-medium">FULLBRIGHT  ENGLISH</h2>
                <div class="readmore lg:hidden">
                    <a href="#" class="group inline-flex justify-center items-center space-x-2 px-0 py-3 rounded-lg transition-all">
                        <span class="text-[16px] font-medium whitespace-nowrap transition-all"></span>
                        <img src="/Assets/Image//icon/navigation/arrow_downward.png" alt="Arrow" class="w-[24px] max-w-[24px] h-[14px]" />
                    </a>
                </div>
            </div>
            <div class="flex flex-col lg:flex-row items-center justify-center lg:space-x-[84px]">
                <div class="image-right flex-1 relative hidden lg:block">
                    <img src="/Assets/Image//img1.png" alt="Border" class="absolute h-[138px] w-[130px] -left-6 -top-6 z-10" />
                    <img src="/Assets/Image//img2.png" alt="Border" class="absolute h-[231px] w-[231px] -right-6 -bottom-6 z-10" />
                    <img src="~/Assets/Image/logoenglish1.jpg" alt="About us" class="z-20 relative" />
                </div>
                <div class="lg:px-0 text-left flex-1">
                    <p class="text-[#1684E9] text-lg font-medium lg:text-2xl leading-[38px] mb-6">
                        website <span class="text-red-600">Fullbright</span> (which means <span class="text-red-600">make your life more brighter</span>) Join us at the Fullbright Center to discover opportunities that can transform your vision into reality, backed by a community that is as passionate about progress as you are.
                    </p>
                    <p class="text-base text-[#242424] mb-6 font-medium leading-[32px]">
                        Welcome to the Fullbright Center – a hub of excellence dedicated to fostering education, innovation, and community engagement. At Fullbright, we are committed to empowering individuals and organizations through a wide range of programs and resources designed to inspire growth, collaboration, and positive change. Our center offers educational workshops, professional development sessions, research support, and state-of-the-art facilities tailored to meet the diverse needs of our community.

                    </p>
                    <p class="text-base text-[#242424] mb-6 font-medium leading-[32px] hidden lg:block">
                        Whether you’re a student, a professional, or a community leader, Fullbright Center is here to support your journey with resources that encourage learning, skill-building, and impactful initiatives. Join us at Fullbright, where we believe in creating brighter futures together.
                        Explore our programs and learn more about how we can work together to reach your goals.
                    </p>
                    <a href="#" class="group justify-center items-center space-x-2 px-0 py-3 ounded-lg transition-all hidden lg:inline-flex">
                        <span class="text-[16px] font-semibold whitespace-nowrap transition-all">more</span>
                        <img src="/Assets/Image//icon/navigation/arrow_downward.png" alt="Arrow" class="w-[24px] max-w-[24px] h-[14px]" />
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section class="m-0 pb-[30px] pt-[30px] xl:pt-[0px] xl:pb-[60px] relative bg-[#fff]">
        <div class="container max-w-[1320px] mx-auto px-4">
            <div class="block_title flex justify-between items-center mb-10">
                <h2 class="text-[24px] lg:text-[50px] font-medium">Giới thiệu chung</h2>
                <div class="readmore lg:hidden">
                    <a href="#" class="group inline-flex justify-center items-center space-x-2 px-0 py-3 rounded-lg transition-all">
                        <span class="text-[16px] font-medium whitespace-nowrap transition-all">Xem thêm</span>
                        <img src="/Assets/Image//icon/navigation/arrow_downward.png" alt="Arrow" class="w-[24px] max-w-[24px] h-[14px]" />
                    </a>
                </div>
            </div>
            <div class="main-content">
                <div class="grid grid-flow-row grid-cols-1 lg:grid-cols-2 gap-6">
                    <div class="item shadow-lg bg-white rounded-xl overflow-hidden">
                        <a href="#">
                            <img src="/Assets/Image//Academic-english.png" alt="Tin tuc 01" class="w-full h-[250px] xl:h-[380px] object-cover" />
                        </a>
                        <div class="flex flex-col space-y-3 p-4 lg:p-6 text-center">
                            <h3 class="text-xl lg:text-2xl text-black font-bold line-clamp-1">.....</h3>
                            <p class="text-base text-gray-700 leading-7 line-clamp-3">ielts</p>
                            <a href="#" class="group inline-flex justify-center items-center space-x-2 px-0 py-3 rounded-lg transition-all">
                                <span class="text-[16px] font-medium whitespace-nowrap transition-all">More</span>
                                <img src="/Assets/Image//icon/navigation/arrow_downward.png" alt="Arrow" class="w-[24px] max-w-[24px] h-[14px]" />
                            </a>
                        </div>
                    </div>
                    <div class="item shadow-lg bg-white rounded-xl overflow-hidden">
                        <a href="#">
                            <img src="~/Assets/Image/casual.jpg" alt="Tin tuc 01" class="w-full h-[250px] xl:h-[380px] object-cover" />
                        </a>
                        <div class="flex flex-col space-y-3 p-4 lg:p-6 text-center">
                            <h3 class="text-xl lg:text-2xl text-black font-bold line-clamp-1">.....</h3>
                            <p class="text-base text-gray-700 leading-7 line-clamp-3">casual english</p>
                            <a href="#" class="group inline-flex justify-center items-center space-x-2 px-0 py-3 rounded-lg transition-all">
                                <span class="text-[16px] font-medium whitespace-nowrap transition-all">More</span>
                                <img src="/Assets/Image//icon/navigation/arrow_downward.png" alt="Arrow" class="w-[24px] max-w-[24px] h-[14px]" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main>

